{% use 'PMDFrontendBundle::blocks.html.twig' %}
{% spaceless %}

{% set document_attrs = document_attrs|default({}) %}
{% set document_head_attrs = document_head_attrs|default({}) %}
{% set document_body_attrs = document_body_attrs|default({}) %}

{% endspaceless %}
<!doctype html>
{% set attrs = {lang: app.request.locale}|merge(document_attrs) %}
<html{{ block('html_attrs') }}>
{% set attrs = document_head_attrs %}
<head{{ block('html_attrs') }}>
    {% block document_metadata %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
    <title>{% block document_title '' %}</title>
    {% block document_links %}
        <link type="image/x-icon" rel="icon" href="{{ asset('favicon.ico') }}">
    {% endblock %}
    {% block document_javascripts %}{% endblock %}
    {% block document_stylesheets %}{% endblock %}
</head>
{% set attrs = document_body_attrs %}
<body{{ block('html_attrs') }}>
    {% block document_body %}{% endblock %}
</body>
</html>
